// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Theme overrides fallback
//  _____________________________________________

//  Magento themes overrides fallback handling. Should be EMPTY.

//
//  Typography
//  ---------------------------------------------

//  Fonts
@lato-font-family: 'Lato';
@libre-font-family: 'Libre_Baskerville';

@copyright__background-color: @color-gray-middle4;
@layout__max-width: 100%;
@layout-indent__width: 0;
@layout__width-xs-indent: 0;
@icon-font__display: flex;
