<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldMapper\ProductFieldMapper">
        <plugin name="ProductFieldMapper"
                type="IdeaInYou\ElasticSearch\Plugin\ProductFieldMapper" sortOrder="10"/>
    </type>
</config>
