<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MiraklSeller\Sales\Helper\Order\Import">
        <plugin name="ImportMiraklOrderPlugin"
                type="IdeaInYou\BigCommerce\Plugin\ImportMiraklOrderPlugin"/>
        <plugin name="CheckProductAvailability"
                type="IdeaInYou\BigCommerce\Plugin\CheckProductAvailability"/>
    </type>
    <type name="MiraklSeller\Sales\Model\Create\Quote">
        <plugin name="EmailMirakl"
                type="IdeaInYou\BigCommerce\Plugin\UpdateMiraklEmailPlugin"/>
    </type>
    <type name="MiraklSeller\Api\Helper\Order">
        <plugin name="AcceptOrder"
                type="IdeaInYou\BigCommerce\Plugin\AcceptAllOrder"/>
    </type>

    <type name="IdeaInYou\BigCommerce\Helper\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="IdeaInYou\BigCommerce\Helper\Logger">
        <arguments>
            <argument name="name" xsi:type="string">synchronization</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">IdeaInYou\BigCommerce\Helper\Handler</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Sales\Model\ResourceModel\Orders\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="big_commerce_id" xsi:type="string">sales_order.big_commerce_id</item>
            </argument>
        </arguments>
    </virtualType>
</config>
