<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MiraklSeller\Sales\Helper\Order\Import">
        <plugin name="ImportMiraklOrderPlugin"
                type="IdeaInYou\BigCommerce\Plugin\ImportMiraklOrderPlugin"/>
    </type>
    <type name="MiraklSeller\Sales\Model\Synchronize\Shipments">
        <plugin name="UpdateMiraklOrderPlugin"
                type="IdeaInYou\BigCommerce\Plugin\UpdateMiraklOrderPlugin"/>
    </type>
    <type name="MiraklSeller\Sales\Model\Create\Quote">
        <plugin name="EmailMirakl"
                type="IdeaInYou\BigCommerce\Plugin\UpdateMiraklEmailPlugin"/>
    </type>
</config>
